<h1>Login</h1>
<%= form_tag "/login", method: :post do %>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <input type="submit" value="Log In">
<% end %>
