 <h1>Update a Resident</h1>

<div>
<%= form_tag "/residents/#{@resident.id}", method: :patch do %>
<ul>
  <li>First Name: <input type="text" name="first_name" value="<%= @resident.first_name %>"></li>
  <li>Last Name: <input type="text" name="last_name" value="<%= @resident.last_name %>"></li>
  <li>Documented: 
    <select name="documented">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </li>
  <li>Gender: 
    <select name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="transgender_f_to_m">Transgender: Female to Male</option>
      <option value="transgender_m_to_f">Transgender: Male to Female</option>
      <option value="does_not_identify">I do not identify with the above options</option>
    </select>
  </li> <input type="submit" value="submit"> </li>
</ul>
<% end %>
</div>