<h2>Residents <span id='numOfResidents'class='number-of-residents'></span></h2> 
<input type="text" id="nameSearch" onkeyup="nameSearch()" placeholder="Search by name.." title="Type in a name">
<div id="filterButtons">
    <button onclick='clearFilter()'>Clear Filter</button>
    <button onclick='sortMale()'>Sort Male</button>
    <button onclick='sortFemale()'>Sort Female</button>
</div>
<div id="residents"></div>
<script type="text/javascript" src="public/javascripts/resident/residents.js"></script>
 