<h1>Hello World </h1> 

<div><a href="/residents/new" class="btn btn-default">New Resident</a></div>

<% @residents.each do |resident| %>
  <p><%= resident.first_name %></p>
  <p><%= resident.last_name %></p>

<% end %>