<!-- <div id="app">
  {{ message }}
</div> -->
<!-- <script type="text/javascript" src="residents.js">
  residentsPayload.forEach(function(element) {
    console.log(element);
  });
</script> -->

<!--   <% if !current_user %>
    <div style="float: right; padding-left: 20px; padding-top: 10px;">
        <a class="btn btn-default" href="/login">Login</a>
    </div>
  <% else %>
    <a href="/logout">Log Out</a>
  <% end %>
  if current_user.role.nil? ? "You need to be an Admin" : <a href="/signup">Sign Up</a>
  <% if current_user.role == "admin" %>
    <a href="/signup">Sign Up</a>
  <% end %>

  <% if current_user.present? && current_user.role == "admin" %>
    <div style="float: right; padding-top: 10px;">
      <a class="btn btn-default" href="/signup">Sign Up</a>
    </div>
  <% end %> -->

<h1>All Residents!</h1> 
<div id="table1">
</div>

<script type="text/javascript" src="public/javascripts/resident/residents.js"></script>
