<div class="head-section-container">
    <div class="box a">
        <%= image_tag 'fun-me.JPG', class: 'image-container' %>
    </div>
    <div class="box b">Troy Leach | Age: 76 Male</div>
    <div class="box c"></div>
    <div class="box d">
        <button onclick="submitResidentsForm()" type="submit" class="btn btn-md btn-success">Save</button>
    </div>
    <div class="box d">
        <a href="/residents" class="btn btn-md btn-default">Cancel</a>
    </div>
</div>

<form id="residentForm" name="resident" action="/residents">
    <div class="personal-information">
        <div class="personal-info-box a">
            <label class="control-label" for="first_name">FIRST NAME</label>
            <input type="text" name="first_name" placeholder="John" class="form-control">
        </div>
        <div class="personal-info-box b">
            <label class="control-label" for="last_name">LAST NAME</label>
            <input type="text" name="last_name" placeholder="Doe" class="form-control">
        </div>
        <div class="personal-info-box c">
            <label for="gender">GENDER</label>
            <select name="gender" class="form-control">
                <option selected>Choose...</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="transgender_f_to_m">Transgender: Female to Male</option>
                <option value="transgender_m_to_f">Transgender: Male to Female</option>
                <option value="does_not_identify">I do not identify with the above options</option>
            </select>
        </div>
        <div class="personal-info-box d">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" name="dateOfBirth" class="form-control">
        </div>
        <div class="personal-info-box e">
            <label for="ethnicity">ETHNICITY</label>
            <select name="ethnicity" class="form-control">
                <option selected>Choose...</option>
                <option value="hispanic">Hispanic/Latino</option>
                <option value="Non-Hispanic/Non-Latino">Non-Hispanice/Non-Latino</option>
            </select>
        </div>
        <div class="personal-info-box f">
            <label for="resident_race">RACE</label>
            <select name="resident_race" class="form-control"> 
                <option selected>Choose...</option>
                <option value="American Indian/Alaskan Native">American Indian/Alaskan Native</option>
                <option value="Asian">Asian</option>
                <option value="Black/African American">Black/African American</option>
                <option value="Native Hawaiian/Other Pacific Islander">Native Hawaiian/Other Pacific Islander</option>
                <option value="White">White</option>
                <option value="American Indian/Alaskan Native & White">American Indian/Alaskan Native and White</option>
                <option value="Asian & White">Asian and White </option>
                <option value="Black/African American & White">Black/African American and White</option>
                <option value="American Indian/alaskan Native/Black/African American">American Indian/alaskan Native/Black/African American</option>
                <option value="American">American</option>
                <option value="Other Multi-Racial (including Hispanic)">Other Multi-Racial (including Hispanic)</option>
            </select>
        </div>
        <div class="personal-info-box g">
            <label for="resident_status">Status</label>
            <select name="resident_status" class="form-control"> 
                <option selected>Choose...</option>
                <option value="active">Active</option>
                <option value="notActive">Not Active</option>
            </select>
        </div>
        <div class="personal-info-box h">

            <label for="bed_id">BED</label>
            <select name="bed_id" class="form-control">
                <option value="1">1</option>
            </select>
        </div>
    </div>

    <hr class="dashed">

    <div class="admittance-section">
        <div class="admit-box a">
            <label for="admittedDate">Admitted</label>
            <input type="date" name="admittedDate" class="form-control">
        </div>
        <div class="admit-box b">
            <label for="releasedDate">Released</label>
            <input type="date" name="releasedDate" class="form-control">
        </div>
        <div class="admit-box c">
            <label for="tenure">Tenure</label>
            <input type="text" class="form-control" name="tenure" placeholder="33 days">
        </div>
        <div class="admit-box d">
            <label for="hmis_number">HMIS NUMBER</label>
            <input type="text" class="form-control" name="hmis_number" placeholder="123456">
        </div>
        <div class="admit-box e">
            <label for="hmis_entry_date">HMIS ENTRY DATE</label>
            <input type="date" class="form-control" name="hmis_entry_date">
        </div>
    </div>
    <hr class="dashed">
    <div class="cause-homelessness-section">
        <div class="cause-homelessness-box a">
            <label for="cause_of_homelessness">Cause of Homelessness</label>
            <select name="cause_of_homelessness" class="form-control">
                <option selected>Choose...</option> 
                <option value="Loss of job">Loss of job</option>
                <option value="Insufficient Income">Insufficient Income</option>
                <option value="Mismanagement of Income">Mismanagement of Income</option>
                <option value="Loss of public assistance">Loss of public assistance</option>
                <option value="Natural Disaster/Fire">Natural Disaster/Fire</option>
                <option value="Eviction">Eviction</option>
                <option value="No Affordable Housing">No Affordable Housing</option>
                <option value="In-Transit/Traveling">In-Transit/Traveling</option>
                <option value="Condemned/Substandard Housing">Condemned/Substandard Housing</option>
                <option value="Lack of Utilities">Lack of Utilities</option>
                <option value="Family Dispute">Family Dispute</option>
                <option value="Domestic Violence">Domestic Violence</option>
                <option value="Neighborhood Violence/Gang Intimidation">Neighborhood Violence/Gang Intimidation</option>
                <option value="Release from Correctional Institution">Release from Correctional Institution</option>
                <option value="Release from Mental Health Facility">Release from Mental Health Facility</option>
                <option value="Drug Abuse">Drug Abuse</option>
                <option value="Alcohol Abuse">Alcohol Abuse</option>
                <option value="Medical Condition/ Phyically Disabled">Medical Condition/ Phyically Disabled</option>
                <option value="Foreclosure">Foreclosure</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="cause-homelessness-box b">
            <label for="length_of_homelessness">Length of Homelessness</label>
            <input type="text" class="form-control" name="length_of_homelessness" placeholder="years">
        </div>
    </div>

    <hr class="dashed">
    <br>
    <p>Prior living situation</p>
    <br>
    <hr class="dashed">
    <br>
    

<div class="number-of-shelters-section">
    <div class="number-of-shelters-box a">
            <label for="number_of_shelters">NUMBER OF SHELTERS IN PAST YEAR</label>
            <input type="text" class="form-control" name="number_of_shelters" placeholder="1">
        </div>

        <div class="number-of-shelters-box b">
         
        <label for="chronically_homeless">CHRONICALLY HOMELESS</label><br />
        <label class="checkbox-inline">
            <input
            name="chronicallyHomeless"
            type="radio"
            style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
            Yes
        </label>
        <label class="checkbox-inline">
            <input
            name="chronicallyHomeless"
            type="radio"
            style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
            No
        </label>
  


            
        </div>

</div>
        


    <br>
    <hr class="dashed">
    <br>
    <p>Number of shelters in the past year</p>
    <br>
    <hr class="dashed">
    <label for="specialNeeds">Special Needs / Conditions</label><br />
    <label class="checkbox-inline">
        <input
        name="specialNeedsNone"
        type="checkbox"
        style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
        None.
    </label><br/>

    <label class="checkbox-inline">
        <input
        name="specialNeedsSubstanceAbuse"
        type="checkbox"
        style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
        Substance Abuse (SA)
    </label><br/>

    <label class="checkbox-inline">
        <input
        name="specialNeedsAlcoholAbuse"
        type="checkbox"
        style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
        Alcohol Abuse (AA)
    </label><br/>
    <div class="well">
        <label for="specialNeeds">Have they sought treatment?</label><br />
        <label class="checkbox-inline">
            <input
            name="soughtTreatment"
            type="checkbox"
            style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
            Yes
        </label>
        <label class="checkbox-inline">
            <input
            name="soughtTreatment"
            type="checkbox"
            style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
            No
        </label>
    </div>


    <label class="checkbox-inline">
        <input
        name="MentalIllness"
        type="checkbox"
        style="border:2px dotted #00f;display:inline-block;background:#ff0000;">
        Mental Illness
    </label><br/>
    <div class="well">
        <label class="control-label" for="first_name">Type Mental Illness</label>
        <input type="text" name="mentalIllnessType" placeholder="Manic Depression" class="form-control">
    </div>


    <hr class="dashed">
    <br>
    <p>Disabled</p>
    <br>
    <hr class="dashed">
    <br>
    <p>Veteran</p>
    <br>
    <hr class="dashed">
    <br>
    <p>Does the client speak and reqd English well?</p>
    <br>
    <hr class="dashed">
    <br>
    <p>Is teh client taking prescribed medications</p>
    <br>
    <hr class="solid">
    <div class="footer-section-container">
        <div class="box a">
            <button onclick="submitResidentsForm()" type="submit" class="btn btn-md btn-default">Delete</button>
        </div>
        <div class="box b"></div>
        <div class="box c"></div>
        <div class="box d">
            <button onclick="submitResidentsForm()" type="submit" class="btn btn-md btn-success">Save</button>
        </div>
        <div class="box d">
            <a href="/residents" class="btn btn-md btn-default">Cancel</a>
        </div>
    </div>
</form>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<%#TODO this below can get deleted%>



    <div class="form-row">
        <div class="form-group col-md-4">
        </div>

        <div class="form-group col-md-4">
        </div>

        <div class="form-group col-md-4">
            <label for="documented">DOCUMENTED</label>
            <select name="documented" class="form-control">
                <option selected>Choose...</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>



        <div class="form-group col-md-4">
        </div>

        <div class="form-group col-md-4">
        </div>



        





        <div class="form-group col-md-4">
            <label for="prior_living_situation">PRIOR LIVING SITUATION AS OF LAST NIGHT</label>
            <select name="prior_living_situation" class="form-control">
                <option selected>Choose...</option>
                <option value="Non-housing">Non-housing(street, park, etc.)</option>
                <option value="Emergency Shelter">Emergency Shelter</option>
                <option value="Transitional housing for homeless persons">Transitional housing for homeless persons</option>
                <option value="Psychiatric Facility">Psychiatric Facility</option>
                <option value="Substance abuse treatment facility">Substance abuse treatment facility</option>
                <option value="Hospitals">Hospitals</option>
                <option value="Jail or Prison">Jail or Prison</option>
                <option value="Domestic Violence Situation">Domestic Violence Situation</option>
                <option value="Living with relatives/friends">Living with relatives/friends</option>
                <option value="Rental housing/Eviction">Rental housing/Eviction</option>
                <option value="Disaster/Fire">Disaster/Fire</option>
                <option value="Condemned Housing">Condemned Housing</option>
                <option value="Public Housing">Public Housing(CHA)</option>
                <option value="Non-Lease holder">Non-Lease holder(CHA)</option>
                <option value="Other">Other Specify</option>
            </select>
        </div>
    </div>

    <br>


<script>
    $('input[type="checkbox"]').on('change', function() {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });
</script>

