<h2>Resident: </h2>
<div><a class="btn btn-default" href="/residents">Home</a></div>
<br>

<div id="prerequisites_needs"></div>
<div id="identification"></div>
<div id="house_meetings"></div>
<div id="buss_passes"></div>


