<div class="head-section-container">
    <div class="box a">
        <%= image_tag 'fun-me.JPG', class: 'image-container' %>
    </div>

    <div id="name-age" class="box b"></div>

    <div class="box c"></div>
    <div class="box d">
        <button onclick="submitResidentsForm()" type="submit" class="btn btn-md btn-success">Save</button>
    </div>
    <div class="box d">
        <a href="/residents" class="btn btn-md btn-default">Cancel</a>
    </div>
</div>

<hr class='solid'>
<div id="personal-information"></div>
<hr class='dashed'>


<script type="text/javascript" src="/public/javascripts/resident/residentShow.js"></script>

