// TODO the below needs to go into the main scss
hr.dashed {
  border-top: 1px dashed #8c8b8b;
}

hr.solid {
  border-top: 1px solid #8c8b8b;
}

.image-container {
  border-radius: 50%;
  width: 75px;
}
.head-section-container {
  display: grid;
  grid-template-columns: 80px 150px auto 65px 65px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}


.box {
  //background-color: #444;
  //color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  margin: auto 0;
}

.personal-information {
  display: grid;
  grid-template-columns: 300px auto 200px 200px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.personal-info-box {
  @extend .box;
  font-size: 100%;
}

.admittance-section {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.admit-box {
  @extend .box;
  font-size: 100%;
}

.cause-homelessness-section {
  display: grid;
  grid-template-columns: 400px 200px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.cause-homelessness-box {
  @extend .box;
  font-size: 100%;
}

.number-of-shelters-section {
  display: grid;
  grid-template-columns: 300px 600px;
  grid-gap: 100px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.number-of-shelters-box {
  @extend .box;
  font-size: 100%;
}

.prior-living-situation-section {
  display: grid;
  grid-template-columns: 400px 220px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.prior-living-situation-box {
  @extend .box;
  font-size: 100%;

}


.footer-section-container {
  display: grid;
  grid-template-columns: 80px 150px auto 65px 65px;
  grid-gap: 10px;
  margin-bottom: 10px;
}


