.sharp {
  border-radius: 0;
} 

.right-margin {
  margin-right: 10px;
} 

.logo {
  height: 50px;
} 

.top-navbar {
  background-color: #D3D2D3;
}

.navbar-fixed-left {
  width: 140px;
  margin-top: 50px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 60px;
}

.container {
  height: 1000px;
}

.wrapper {
  margin-left: 140px;
}

.dashboard-count {
  font-weight: normal;
  font-size: 50%;

} 

// @import "bourbon";

body {
  background: #eee !important;  
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    // @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

