.number-of-residents {
  font-weight: normal;
  font-size: 60%;
}

.tbody { 
  display:table-body; 
}
.table2 {
  display:table;
}
.table-row {
  display:table-row;
}

.head-table-row {
  border-bottom: 1px solid #000000;
}

.table-responsive {
  font-family: Avenir;
}

.table-cell {
  display:table-cell;
  padding: 5px;
  width: 12em;
}

#name-age {
  margin-bottom: 10px;
  margin-top: 10px;
}

.page-header {
    padding-bottom: 10px;
    margin: 40px 0 0px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    background-color: #2B2B2B;
    font-family: Avenir;
    color: white;
}

.residentShow {
  background-color: #9B0032;
  color: white;
  border-width: 1px;
}

.nav-item {
  background-color: #2B2B2B;
  color: white;
  border-width: 1px;
  font-family: Avenir;
}

.nav-item h4 {
    font-size: 16px;
}

.showBody {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.table-cell-head {
  display:table-cell;
  padding: 5px;
  width: 12em;
}

.table-cell-head-one {
  color: transparent;
  display:table-cell;
}

.table-head { 
  display:table-head;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}

/*.table-head-style {*/
  //display:table-head;
  //width: 12em;
  //padding-left: 80px;
  //font-weight: bold;
/*}*/

.row-wrapper {
  border-bottom: 1px solid #D3D2D3;
  padding: 2px;
}

a { color: inherit; } 
a:link {
  color: inherit;;
  text-decoration: none;
}
a:hover {
  color: inherit;;
  text-decoration: none;
}
// TODO the below needs to go into the main scss
hr.dashed {
	border-top: 1px dashed #8c8b8b;
}

hr.solid {
	border-top: 1px solid #8c8b8b;
}

.image-container {
  border-radius: 50%;
  width: 75px;
}

.avatar-container {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 1px solid #C38F9B;
  width: 45px;
}

.head-section-container {
  display: grid;
  grid-template-columns: 300px 80px auto 65px 65px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.head-section-container-show {
  display: grid;
  grid-template-columns: 80px 300px auto 65px 65px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.box.b {
  //background-color: #444;
  //color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  margin: auto 0;
}

.box.c {
  //background-color: #444;
  //color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 125%;
  margin: auto 0;
}

.personal-information {
  display: grid;
  grid-template-columns: 300px auto 200px 200px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.personal-info-box {
  @extend .box;
  font-size: 100%;
}

.admittance-section {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.admit-box {
  @extend .box;
  font-size: 100%;
}

.cause-homelessness-section {
  display: grid;
  grid-template-columns: 400px 200px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.cause-homelessness-box {
  @extend .box;
  font-size: 100%;
}

.footer-section-container {
  display: grid;
  grid-template-columns: 80px 150px auto 65px 65px;
  grid-gap: 10px;
  margin-bottom: 10px;
}

#nameSearch {
  background-image: url('search.png');
  background-size: 20px 20px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
