a { color: inherit; }

a:link {
  color: inherit;;
  text-decoration: none;
}

a:hover {
  color: inherit;;
  text-decoration: none;
}

// TODO the below needs to go into the main scss
hr.dashed {
  border-top: 1px dashed #8c8b8b;
}

hr.solid {
  border-top: 1px solid #8c8b8b;
}

.image-container {
  border-radius: 50%;
  width: 75px;
}

.avatar-container {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 1px solid #C38F9B;
  width: 45px;
}

.show-head-section-container {
  display: grid;
  grid-template-columns: 80px 300px auto 65px 65px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.box {
  //background-color: #444;
  //color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  margin: auto 0;
}


