a { color: inherit; }

a:link {
  color: inherit;;
  text-decoration: none;
}

a:hover {
  color: inherit;;
  text-decoration: none;
}

// TODO the below needs to go into the main scss
hr.dashed {
  border-top: 1px dashed #8c8b8b;
}

hr.solid {
  border-top: 1px solid #8c8b8b;
}

.image-container {
  border-radius: 50%;
  width: 75px;
}

.page-header {
  padding-bottom: 10px;
  margin: 40px 0 0px;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  background-color: #F6F6F6;
  font-family: Avenir;
  color: black;
}

#show-page-avatar {
  padding-top: 20px;
}

.nav-tabs.nav-justified>.active>a {
  background-color: #9B0032;
  color: white;
}

.table-responsive {
  text-align: center;
}

.showHeader {
  background-color: #9B0032;
  color: white;
  border-width: 1px;
  width: 235px;
  text-align: center;
  // height: 40px;
}

.showHeaderLeftAlign {
  background-color: #9B0032;
  color: white;
  border-width: 1px;
  width: 150px;
  text-align: left;
  // height: 40px;
}


.show-avatar-container {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 1px solid #C38F9B;
  width: 125px;
}

.show-head-section-container {
  display: grid;
  grid-template-columns: 80px 300px auto 65px 65px;
  grid-gap: 10px;
  margin-bottom: 10px;
  //background-color: #fff;
  //color: #444;
}

.box {
  //background-color: #444;
  //color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  margin: auto 0;
}