// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0px;
}
.navv {
  // background-image: url("http://ak2.picdn.net/shutterstock/videos/6203612/thumb/1.jpg") ;
  // background-size: cover;

  border-style: solid;
}

.nav-width {
  max-width: 105px;

  position: fixed;
  font-size: 15px;
  height: 1000px;
}

.box-width {
 width: 30%;
}

#red {
  color: #990000;
  font-weight: bold;
}

#box {
  width: 1100px;
  height: 50px;
  margin-bottom: 50px;
  border-color: white;
  background-color: transparent;
  font-size: 30px;
  font-family: italic;
  font-weight: bold;
  color: red;
}



#button {
  margin-right: 10px;
}

#button1 {
 margin-top: -30px;
}

#button2 {
 margin-top: -30px;
}

#name {
 margin-left: 10px;
}

.logo-center {
  background-image: url("Logo-Web-copia.png") no-repeat center center fixed;
  height: auto;
  width: 60%;
  margin: 0 450px ;
  position: absolute;

}