<div class="container bed-container">
<h2>Beds<span class="dashboard-count"></span></h2>
  <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>    -->
  <table id="table_beds_payload">
    <thead></thead>
  </table>
</div>