<h1>Hello Beds!</h1>

<div class="row">
  <% @beds.each do |bed| %>
    <div class="col-md-3">
      <div class="well">
        <h4>Name: <a href="/beds/<%= bed.id %>">This will be bed names</a></h4>
        <h4>Top or Bottom: <%= bed.top_or_bottom %></h4>
        <h4>Occupied: <%= bed.occupied %></h4>
        <a href="/beds/<%= bed.id %>/edit">Edit Bed</a>
      </div>
    </div>
  <% end %>
</div>