<div class="container" style="margin-top: 50px">
<h2>Residents <span class="dashboard-count">10</span></h2>
  <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>    -->         
  <table class="table table-striped">
      <thead style="background-color: #D3D2D3;">
          <th>Picture</th>
          <th>Full Name</th>
          <th>Gender</th>
          <th>Admitted</th>
          <th>Released</th>
          <th>Tenure</th>
          <th>Status</th>
          <th>Bed #</th>
      </thead>
    <tbody>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>33</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>66</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>33</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>66</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>33</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>66</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>33</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>66</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>John Doe</td>
        <td>Male</td>
        <td>11/11/2011</td>
        <td>22/22/2012</td>
        <td>45</td>
        <td>Current</td>
        <td>45</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <% @beds.each do |bed| %>
    <div class="col-md-3">
      <div class="well">
        <h4>Name: <a href="/beds/<%= bed.id %>">This will be bed names</a></h4>
        <h4>Top or Bottom: <%= bed.top_or_bottom %></h4>
        <h4>Occupied: <%= bed.occupied %></h4>
        <a href="/beds/<%= bed.id %>/edit">Edit Bed</a>
      </div>
    </div>
  <% end %>
</div> 
