<div id="report-iframe">
  <h1 style="font-size: 15px; padding-left: 150px;">Daily Sign in / Sign out sheet<span style="padding-left: 550px;">1/8/2018</span></h1>
  <br>
  <br>

  <style>
  table#t01 {
    /*width: 100%;
    box-sizing: border-box;*/



    

  }
  th {
   
  }   
    
  
  </style>
  
  <table id="t01">
   <tr>
     <th style="padding-right: 100px;">Sr. No</th>
     <th style="padding-left: 0px; padding-right: 100px;">Avatar</th> 
     <th style="padding-left: 0px; padding-right: 200px;">Name</th>
     <th style="padding-right: 150px;">Sign In</th>
     <th style="padding-left: 20px;">Sign Out</th>
   </tr>
   <tr>
     <td>1</td>
     <td src="image"></td>
     <td>Ben Johnson</td>
     <td><p style="border-bottom: 1px solid black; padding-top: 40px; padding-right: 250px; margin-right: 50px;"></p>
     <td><p style="border-bottom: 1px solid black; padding-top: 40px;  padding-right: 100px; padding-left: 150px; margin-left: 20px;"></p>
     </td>
   </tr>
   <tr>
     <td></td>
     
   </tr>
   <tr>
     <td>Kevin Banks</td>
     
   </tr>

   <tr>
     <td>Kim Blame</td>
     
   </tr>

   <tr>
     <td>Ken Baker</td>
     
   </tr>
   <tr>
     <td>Monroe Bruen</td>
     
   </tr>
  </table>


</div>

