<div id="report-iframe">
  <h1 style="font-size: 15px; padding-left: 150px;">Daily Sign in / Sign out sheet<span style="padding-left: 550px;">1/8/2018</span></h1>
  <br>
  <br>

  <style>
  table#t01 {
    width: 100%;    
    padding: 5px;

  }


  </style>
  
  <table id="t01" style="width:100%">
   <tr>
     <th>Sr. No</th>
     <th>Avatar</th> 
     <th>Name</th>
     <th>Sign In</th>
     <th>Sign Out</th>
   </tr>
   <tr>
     <td>1</td>
     <td src="image"></td>
     <td>Ben Johnson</td>
     <td><p style="border-bottom: 1px solid black; padding-top: 20px;"></p>
     </td>
   </tr>
   <tr>
     <td></td>
     
   </tr>
   <tr>
     <td>Kevin Banks</td>
     
   </tr>

   <tr>
     <td>Kim Blame</td>
     
   </tr>

   <tr>
     <td>Ken Baker</td>
     
   </tr>
   <tr>
     <td>Monroe Bruen</td>
     
   </tr>
  </table>


</div>

