<button onclick="printMe()" type="submit" class="btn btn-md btn-success" >Print</button>
<!-- <iframe src="sign_in_sign_out.html" height="500" width="800"></iframe> -->
<div>
  <%= render partial: "sign_in_sign_out" %>
</div>
<script type="text/javascript" src="/public/javascripts/reports/reports.js"></script>
